* {
    font-size: 16px;
}

body {
    padding: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    outline: 0.1rem solid purple;
    gap: 5%;
}

.grid {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 25rem;
    height: 25rem;
    margin-left: 10rem;
    outline: 1px solid red;
}
    
.square {
    outline: 1px solid blue;
    height: 10%;
    width: 10%;
}

.settings {
    outline: 0.1rem solid blue;
    height: 25rem;
    width: 10rem;
}